/* ESTILS GENERALS */
body {
  margin: 0;
  background-color: #DDD;
  color: #444;
  font-family: "Dejavu Sans", Arial, sans-serif;
  font-size: 10pt;
  text-align: center;
}

a {
	text-decoration: none;
	color: #444;
}

h1 {
  margin: 0;
  background: #4a9d0e url(../images/degradat_h1.jpg) repeat-y 0 0;
  font-size: 34pt;
  font-family: Verdana, sans-serif;
}

h1 a {
	display: block;
  padding: 50px 0 5px 30px;
	text-decoration: none;
	color: #FFF;
}

h2 {
  margin: 0 0 20px;
  font-size: 18pt;
}

h3 {
  margin: -12px 0 20px;
  color: #777;
  font-size: 9pt;
  font-weight: normal;
	
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

  ul.menu a {
    display: block; 
  }

  ul.menu_h li {
    float: left;
  }
  
img {
  border: 0;
}
  

/* ZONES */
#base {
  width: 970px;
  margin: 20px auto;
  padding: 10px;
  background-color: #FFF;
  text-align: left;
}

  #top {
    padding-bottom: 16px;
    background: transparent url(../images/border1.gif) repeat-x left bottom;
  }

  #centre {
    clear: both;
    min-height: 600px;
    padding-top: 40px;
  }

    #left {
      float: left;
      width: 190px;
      min-height: 350px;
      margin-left: 10px;
      padding: 10px;
      background: transparent url(../images/degradat_menu_esq.jpg) repeat-x 0 0;
    }

    #main {
    	margin: 0 190px 0 250px;
    }

    #right {
      float: right;
      width: 160px;
      height: 500px;
      background-color: #FFF;
    }

  #peu {
    clear: both;
    margin-top: 30px;
    padding: 25px 0 10px 20px;
    background: transparent url(../images/border2.gif) repeat-x 0 0;
    font-size: 9pt;
    color: #666;
  }


/* TOP */
#top img {
  display: block;
  margin-top: 2px;
}

#menu_sup {
  margin-top: 2px;
  background-color: #6f6f6f;
  width: 100%;
}

  #menu_sup ul {
    margin-left: 20px;
  }

  #menu_sup li {
    padding: 4px 10px;
  }
  
  #menu_sup a {
    padding: 6px 18px 8px;
    color: #FFF;
    font-size: 11pt;
  }
  
  #menu_sup a:hover {
    text-decoration: underline;
  }
    
  #menu_sup a.sel{
    background: transparent url(../images/degradat_menu_sup.jpg) repeat-x 0 0;
  }
  
  #menu_sup .clear {
    clear: both;
    font-size: 1px;
    height: 1px;
  }

/* CENTRE */
  /* LEFT */
  #left ul.menu li {
    padding: 5px 0 5px 0;
  }
  
  #left ul.menu ul {
    padding-left: 10px;
  }
  
    #left ul.menu ul li {
      padding: 2px 0 2px 0;
    }

  #left a {
    color: #444;
  }
  
  #left a a {
    font-size: 9pt;
  }
  
  #left a.sel {
    font-weight: bold;
  }
  
  /* MAIN */
  #main a {
    text-decoration: underline;
    font-weight: bold;
  }
  
  #main ul {
    list-style: none; 
    padding: 0 0 0 15px;
    margin: 0;
  }
  
  #main ul.ind {
    list-style: disc; 
    list-style-position: inside;
  }
  #main ul.ind li {
    padding: 3px 0;
  }
  
    #quadre {
      border: 2px solid black;
      width: 350px;
    }
    #quadre ul {
      list-style: disc;
      margin: 14px 0 14px 15px;
    }
    #quadre li {
      margin: 0;
      padding: 0;
    }
    
    #imatges {
    	margin-top: 10px;
    }
    

  
  /* RIGHT */

/* PEU */
	#peu img {
		vertical-align: middle;
	}
	#peu a {
	   text-decoration: underline;
	}
