<h2>Objectius del web</h2> 

<p>L'objectiu d'aquesta web &eacute;s agrupar recorreguts amb bicicleta per
collserola, des de petites sortides fins a excursions de m&eacute;s de 50km.</p> 
<p>Les rutes estan dividides en petits trams, que units formen la ruta.
D'aquesta manera, no es t&eacute; informaci&oacute; repetida. Com que hi
ha moltes rutes possibles combinant els trams, l'objectiu del web &eacute;s
posar a dispocisici&oacute; dels visitans el generador de rutes, que permet
crear la propia ruta unint els trams guardats. Les rutes de la selecci&oacute;
també estan creades unint diversos trams (només es mostren al web una petita
selecció de trams).</p>
<p>Per aix&ograve;, ens cal acumular m&eacute;s trams, 
 ens podeu ajudar <a href="?participa">enviant les vostres rutes</a>.</p> 
