<h2>Sel&middot;lecci&oacute; de fotografies</h2> 
<br/> 
<h4>Panor&aacute;mica des de Collserola</h4> 
<a href="fotos/1/panoramica.jpg"><img src="fotos/1/thum.jpg" alt="Panoràmica de Collserola"/></a> 
