<h2>Collserola en bicicleta</h2> 
<h3>Benvinguts a www.rutescollserola.com</h3> 
<p>L'objectiu d'aquesta web és agrupar recorreguts amb bicicleta per collserola, des de petites sortides fins a excursions de més de 50km. Però 
aquesta web fa quatre dies que va n&eacute;ixer, i per aix&ograve; est&agrave; en fase de creixement constant. Hi haur&agrave;
novetats molt sovint. Esperem que us agradi.</p> 
<h4>La serra de Collserola</h4> 
<p>La serra de Collserola &eacute;s una part de la Serralada Litoral compresa entre els rius Bes&ograve;s i Llobregat,
 amb una superf&igrave;cie d'unes 11.000 ha. Separa el pla de Barcelona de la depressi&ograve; del Vall&egrave;s i culmina 
 a 516,2 m d'altitud, al cim del Tibidabo.</p> 
 <p>&Eacute;s un espai perfecte per la pr&agrave;ctica d'esport en plena natura, i en 
 particular, un lloc perfecte per anar amb bicicleta. La seva proximitat amb Barcelona, permet passar
 un bon moment sense perdre gaire temps per arribar-hi.</p> 
 <br/> <a href="?mapa">Collserola des de l'aire</a> 
 <br/> 

<h4>Novetats</h4> 
<ul class="ind"> 
  <li>
    <a href="forum/?ampliar=27">Millora web - arxius .kml</a><br/>
    D&#039;aqui pocs dies us podreu descarregar l&#039;arxiu .kml pel google earth i aixi podreu observar el desnivell de la ruta....
  </li>
  <li>
    <a href="forum/?ampliar=25">Mallots</a><br/>
    Estem en proces de crear un mallot personalitzat de la p&agrave;gina i grup que som. El logo est&agrave; en proc&eacute;s; mentrestant podr&iacute;eu decidir quina d&#039;aquests models de m...
  </li>
  <li>
    <a href="forum/?ampliar=24">Nou Generador de Rutes</a><br/>
    Ja teniu a la vostra disposici&oacute; una nova versi&oacute; del Generador de Rutes.<br />
    Ara podeu preparar la ruta sobre el mapa, cosa que facilita molt la preparaci&oacute; de la ruta....
  </li>
 </ul>      

