<h2>Qui l'ha fet</h2> 
<ul class="ind"> 
<li>	<strong>Albert Mestres:</strong> Programador web, ciclista</li> 
<li>	<strong>Pau Haro:</strong> Programador web, disseny, ciclista</li> 
<li>	<strong>Rosa Galvez:</strong> Disseny web</li> 
<li>	<strong>Nadim Jiha:</strong> Col&middot;laborador web, ciclista</li> 
<li>	<a href="http://www.salamandreta.com"><strong>N&uacute;ria Ordu&ntilde;a:</strong></a> Col&middot;laboradora web, Ciclista</li> 
</ul> 
