<div id="peu"> 
 <%= image_tag("cc.ico") %>
		  2009 www.rutescollserola.com. <a href="about/?llicencia">Some rights reserved</a> 
  &nbsp;&nbsp;
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/es/deed.ca">
    <%= image_tag("http://i.creativecommons.org/l/by-nc-sa/2.5/es/80x15.png", :alt => "Creative Commons License", :style => "border-width:0") %>
  </a> 
</div> 
