<div id="left"> 
  <ul id="menu_esq" class="menu menu_v"> 
    <li><a href="rutes/?ruta=1">Carretera de les Aigües</a> 
    <ul class="menu menu_v"> 
      <li><a href="rutes/?ruta=4">Acc&eacute;s 1  C. Aig&uuml;es</a></li> 
      <li><a href="rutes/?ruta=6">Acc&eacute;s 2 C. Aig&uuml;es</a></li> 
      <li><a href="rutes/?ruta=9">Acc&eacute;s 3 C. Aig&uuml;es</a></li> 
      <li><a href="rutes/?ruta=5">Acc&eacute;s 4  C. Aig&uuml;es</a></li> 
    </ul> 
    </li> 
    <li><a href="rutes/?ruta=8">BCN - Sant Cugat</a>         </li> 
    <li><a href="rutes/?ruta=10">Font de la Budallera</a>         </li> 
    <li><a href="rutes/?ruta=11">St. Pere M&agrave;rtir i Vallvidrera</a>         </li> 
  </ul> 
</div> 
