<div id="right"> 
 	<script type="text/javascript"><!--
     google_ad_client = "pub-0214989952683301";
     //160x600, creado 23/01/08
     google_ad_slot = "6014934741";
     google_ad_width = 160;
     google_ad_height = 600;
   //--></script> 
  <!-- // SCRIPT DESACTIVAT //
  <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> 
  </script> 
  -->
</div> 
